<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>
  

  <!-- Main Content -->
  <main class="container">
    <div class="row">
        <div class="col-md-offset-3 col-md-8">
            <h1><%= title %></h1>
            <br>
            <table class="table table-bordered table-striped table-hover">
                <!-- Header Row-->
                <tr>
                        <th class="text-center col-2">First Name</th>
                        <th class="text-center col-2">Last Name</th>
                        <th class="text-center col-1">Email</th>
                        <th class="col-4">Phone Number</th>
                        <th class="text-center col-1"></th>
                        <th class="text-center col-1"></th>
                </tr>

                <!-- Repeatable Template Row -->

                <% for(let count = 0; count < contactList.length; count++) { %>
                    <tr>
                            <td class="text-center col-2"><%= contactList[count].firstName %></td>
                            <td class="text-center col-2"><%= contactList[count].lastName %></td>
                            <td class="text-center col-1"><%= contactList[count].email %></td>
                            <td class="col-4"><%= contactList[count].number %></td>            
                            <td class="text-center col-1">
                                <a href="/contact/edit/<%= contactList[count]._id %>" class="btn btn-primary btn-sm">
                                <i class="fas fa-pencil-alt"></i> Edit</a>
                            </td>
                            <td class="text-center col-1">
                                <a href="/contact/delete/<%= contactList[count]._id %>" class="btn btn-danger btn-sm">
                                <i class="fas fa-trash-alt"></i> Delete</a>
                            </td>
                    </tr>
                <% } %>
            </table>
        </div>
    </div>
  </main>
  
<%- include ../partials/bottom_nav.ejs %>  

<%- include ../partials/footer.ejs %>